# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
fastapi/
venv/
env/
.venv/

# Environment Variables (Secrets)
.env
!.env.example

# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Alembic
alembic/versions/__pycache__/
